@import "../base/colors";

.mainContainer {
  padding: 23px 25px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-100;

  .tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .step {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-color: $primary-text-400;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      margin-inline: 8px;
    }

    .divider{
      margin-right:3px ;
    }

    .active {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-color: $primary-bg-blue;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      margin-inline: 8px;
    }

    > span:last-child {
      display: none;
      color: rgba($color: $primary-text-400, $alpha: 0.87);
      font-family: "Roboto";
      margin-inline: 8px;
    }

    .divider {
      flex: 1;
      height: 1px;
      background-color: $primary-text-400;
    }
  }

  .tab[data-is-active-tab="true"] {
    width: max-content;
    white-space: nowrap;
    .step {
      margin: 0px;
      background-color: $primary-bg-blue;
    }

    > span:last-child {
      display: block;
    }
  }
}
