@import "../base/colors";

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  height: 100%;
  position: relative;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;

    .leftSection {
      img {
        height: 24px;
        width: 24px;
        object-fit: contain;
        margin-right: 10px;
      }
    }
    .rightSection {
      img {
        cursor: pointer;
        height: 34px;
        border-radius: 4px;
        width: 34px;
        object-fit: contain;
        margin-right: 10px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  .mainLayout {
    background-color: $white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
  }
}
