@import "../base/colors";
@import "../base/fonts";

.mainContainer {
  padding: 27px 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  overflow-y: scroll;
  position: relative;

  .selectTemplateContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    >span {
      margin-bottom: 16px;
      color: $primary-text-600;
      font-family: "Roboto";
      font-size: 15px;
    }

    .option {
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid $border-100;
      border-radius: 10px;
      margin-bottom: 10px;
      cursor: pointer;

      img {
        width: 70px;
        height: 50px;
        object-fit: contain;
      }

      span {
        margin-left: 10px;
        font-size: 14px;
        font-family: "Roboto";
        color: $primary-text-600;
      }
    }

    .option[data-is-active-option="true"] {
      border-color: $primary-text-400;
    }

    .note {
      color: $primary-text-600;
      font-size: 12px;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: "Roboto";
      margin-bottom: auto;

      img {
        height: 28px;
        width: 28px;
        margin-right: 5px;
      }
    }

    button {
      margin-block: 20px;
      padding: 10px 0;
      border: none;
      color: $white;
      border-radius: 10px;
      width: 100%;
      background-color: $secondary-bg-color;
      cursor: pointer;
    }

    button:disabled {
      background-color: $primary-text-400;
    }
  }

  .pageDesignContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    .title {
      color: $primary-text-600;
      font-size: 14px;
      font-weight: 500;
      font-family: $primary-font-family;
    }

    .textColorContainer {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $secondary-font-family;

      .textColor {
        font-weight: 500;
        font-size: 14px;
        color: $primary-text-600;
      }

      .switchContainer {

        .switch {
          color: $primary-text-600;
          font-weight: 400;
          font-size: 14px;
        }

      }
    }

    button {
      margin-block: 20px;
      background-color: $secondary-bg-color;
      padding: 10px 0;
      border: none;
      color: $white;
      border-radius: 10px;
      width: 100%;
      cursor: pointer;
    }

    button:disabled {
      background-color: $primary-text-400;
    }

    .descriptionContainer {
      display: flex;
      flex-direction: column;
      margin-top: 25px;

      .description {
        font-size: 14px;
        color: $primary-text-600;
        font-weight: 500;
      }

      textarea {
        font-size: 14px;
        padding: 10px;
        margin-top: 10px;
        outline: none;
        border-radius: 15px;
        border: 1px solid $border-100;
        font-family: $primary-font-family;
        max-height: 150px;
        max-width: 100%;
      }
    }

    .buttonContainer {
      margin-top: 25px;

      .designContainer {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttonDesign {
          color: $primary-text-600;
          font-size: 14px;
          font-weight: 500;
          font-family: $primary-font-family;
        }

        .enabledContainer {
          display: flex;
          align-items: center;

          .enabled {
            color: $primary-text-600;
            font-size: 14px;
            font-family: $secondary-font-family;
          }
        }
      }

      input {
        margin-top: 15px;
        padding: 10px;
        border-radius: 20px;
        outline: none;
        border: 1px solid $border-100;
        width: 100%;
        font-family: $primary-font-family;
      }

      .linkContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;

        .linkTitle {
          font-size: 14px;
          color: $primary-text-200;
          font-family: $primary-font-family;
          margin-right: 10px;
          white-space: nowrap;
        }

        .inputContainer {
          display: flex;
          align-items: center;
          align-items: center;
          margin-left: 5px;

          input {
            margin: 0;
            width: 15px;
            height: 15px;
            margin-right: 5px;
          }

          >span {
            margin-right: 10px;
            font-size: 10px;
            white-space: nowrap;
            color: $primary-text-200;
            font-family: $secondary-font-family;
          }
        }
      }

      .connectContainer {
        margin-top: 25px;
        display: flex;
        flex-direction: column;

        .connectTitle {
          color: $primary-text-600;
          font-size: 14px;
          font-weight: 500;
        }

        .radioContainer {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .popupContainer {
            display: flex;
            align-items: center;
            flex-direction: row;
            align-items: center;

            input {
              margin: 0;
              width: 15px;
              height: 15px;
              margin-right: 5px;
            }

            >span {
              color: $primary-text-600;
              font-size: 12px;
              margin-left: 4px;
            }
          }
        }

        .selectConnect {
          margin-block: 20px;
          border-radius: 20px;
          outline: none;
          border: none;
          padding: 10px;
          border: 1px solid $border-100;

          >select {
            background-color: transparent;
            border: none;
            width: 100%;
          }

          >select:focus {
            outline: none;
          }
        }
      }
    }
  }

  .createVideoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    >span {
      color: $primary-text-600;
      font-weight: 500;
      font-size: 14px;
      font-family: $primary-font-family;
      margin-bottom: 15px;
    }

    .options {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .option {
        width: 33%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-top: 15px;
        border: 1px solid $border-100;

        >span {
          font-weight: 400;
          font-size: 12px;
          color: $primary-text-400;
        }

        >img {
          width: 24px;
          max-height: 24px;
          align-self: flex-end;
          margin-top: auto;
        }
      }

      .option:last-child {
        border-style: dashed;
      }

      .option[data-is-active-option="true"] {
        border-color: $primary-bg-blue;
      }
    }

    .title {
      margin-block: 10px;
    }

    input {
      border-radius: 20px;
      padding: 13px;
      outline: none;
      border: 1px solid $border-100;
    }

    button {
      background-color: $secondary-bg-color;
      padding: 10px 0;
      border: none;
      color: $white;
      border-radius: 10px;
      width: 100%;
      margin-top: auto;
      cursor: pointer;
    }

    button:disabled {
      background-color: $primary-text-400;
    }
  }
}

.mainContainer::-webkit-scrollbar {
  display: none;
}