@import "../base/colors";
@import "../base/fonts";

.mainTemplateContainer {
  height: 100%;
  background-color: $white;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  .template1Bg{
    position: absolute;
    width: 150%;
    bottom: 40%;
    left: -25%;
    object-fit: contain;
  }

  .highLight4 {
    clip-path: polygon(0 0, 100% 90%, 100% 100%, 0% 100%);
    height: 100%;
    background-color:$secondary-bg-color;
    width: 100%;
    margin-top: 40px;
    border-radius: 0px 0px 10px 10px;
  }

  .highLightContainer {
    display: flex;
    height: 100%;
    .highLightBanner1 {
      width: 30%;
      height: 100%;
      background-color: $secondary-bg-color;
      border-radius: 10px 0px 0px 10px;
    }
    .highLightBanner2 {
      padding: 10px;
      height: 100%;
      background-color: $secondary-bg-color;
      margin-left: 20px;
    }
  }

  .bubbleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bubble1 {
      height: 250px;
      width: 250px;
      border-radius: 10px 0px 0px 10px ;
    }
    .bubble2 {
      height: 150px;
      width: 150px;
      margin-right: 30px;
    }
  }

  .mainLayout {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .headline {
    position: absolute;
    width: 100%;
    top: 30px;
    font-size: 24px;
    text-align: center;
    // color: $secondary-bg-color;
    font-family: $primary-font-family;
  }
  .videoContainer {
    position: absolute;
    height: 30vh;
    left: 12%;
    right: 12%;
    width: 76%;
    height: 60%;
    top: 85px;
    z-index: 99;

    .videoSubContainer{
      background-color: red;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background-color: $border-100;
    }
  }

  .bubble3Container {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    justify-content: flex-end;

    .bubble2 {
      border-radius: 0px 0px 10px 0px;
      height: 200px;
      width: 200px;
    }
  }

  .messageContainer {
    display: flex;
    position: absolute;
    bottom: 5%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .message {
      color: $primary-text-600;
      font-size: 14px;
      margin-bottom: 20px;
      font-family: $primary-font-family;
    }

    button {
      outline: none;
      padding: 10px 35px;
      font-weight: 500;
      border: none;
      background-color: $secondary-bg-color;
      border-radius: 10px;
      color: $white;
      cursor: pointer;
      font-family: $primary-font-family;
    }

    .buttonInverted {
      outline: none;
      padding: 10px 35px;
      font-weight: bold;
      border: none;
      background-color: $white;
      border-radius: 10px;
      color: $secondary-bg-color;
    }
  }
}

.headlineInput {
  margin-top: 13px;
  border-radius: 20px;
  padding: 13px;
  outline: none;
  border: 1px solid $border-100;
}
