// background colors
$primary-bg-light: #F7F8FC;
$primary-bg-blue: #007DFF;

// text colors
$primary-text-blue: #038AFF;
$primary-text-200: #9aa5b1;
$primary-text-300: #CBD2D9;
$primary-text-400: #A1A2B2;
$primary-text-500: #323F4B;
$primary-text-600: #000766;
$secondary-bg-color:#7635FF;


// border colors
$border-100: #E4E7EB;

// base colors
$white: #fff;
$black: #000;