@import 'base/fonts';
@import 'base/colors';

.mainContainer{
  background-color: $primary-bg-light;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px 55px 10px 24px;

  .navigator{
    > span{
      margin-left: 15px;
      color: $primary-text-300;
      font-family: $primary-font-family;

      span:first-child{
        color: $primary-text-blue;
      }

      span:last-child{
        color: $primary-text-500;
      }
    }
  }

  .bodyContainer{
    padding-top: 32px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;

    .leftContainer{
      height: 100%;
      width: 25%;
      position: relative;
      display: flex;
      flex-direction: column;

      .title{
        font-family: $primary-font-family;
        color: $primary-text-600;
        font-size: 24px;
      }

      .boxContainer{
        background-color: $white;
        border-radius: 15px;
        margin-top: 34px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }
    }

    .rightContainer{
      flex: 1;
      height: 100%;
    }
  }
} 